body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dad898;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    border: 2px solid #7e1010;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a 2px horizontal, 2px vertical, 5px blur, and 0.3 opacity shadow */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    border: 2px solid #dfd664;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}




.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: #FA8072;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn {
    background-color: #80c3d8;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the bottom */
    margin-left: 20px; /* Adjusted for consistency */
}

.photo-deco {
    position: absolute; /* Permet de placer l'image précisément */
    width: 210px;       /* Ajuste la largeur selon tes envies */
    border: 5px solid white; /* Un petit cadre blanc style "Polaroid" */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Une petite ombre portée */
    z-index: 1;         /* Pour être sûr qu'elles soient visibles */
}

.left {
    top: 15%;           /* Distance depuis le haut */
    left: 15%;           /* Distance depuis la gauche */
    transform: rotate(-10deg); /* Légère rotation pour le style */
}
.left1 {
    bottom: 15%;           /* Distance depuis le haut */
    left: 5%;           /* Distance depuis la gauche */
    transform: rotate(-10deg); /* Légère rotation pour le style */
}

.right {
    bottom: 20%;        /* Distance depuis le bas */
    right: 20%;          /* Distance depuis la droite */
    transform: rotate(10deg); /* Rotation dans l'autre sens */
}
.right1 {
    top: 10%;        /* Distance depuis le bas */
    right: 5%;          /* Distance depuis la droite */
    transform: rotate(10deg); /* Rotation dans l'autre sens */
}