body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dad898;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text, .text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: #770707;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Adjusted for better spacing */
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn {
    background-color: #80c3d8;
    color: rgb(105, 15, 15);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-deco {
    position: absolute; /* Permet de placer l'image précisément */
    width: 210px;       /* Ajuste la largeur selon tes envies */
    border: 5px solid white; /* Un petit cadre blanc style "Polaroid" */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Une petite ombre portée */
    z-index: 1;         /* Pour être sûr qu'elles soient visibles */
}

.left {
    top: 15%;           /* Distance depuis le haut */
    left: 18%;           /* Distance depuis la gauche */
    transform: rotate(-10deg); /* Légère rotation pour le style */
}
.left1 {
    bottom: 15%;           /* Distance depuis le haut */
    left: 5%;           /* Distance depuis la gauche */
    transform: rotate(-10deg); /* Légère rotation pour le style */
}

.right {
    bottom: 20%;        /* Distance depuis le bas */
    right: 10%;          /* Distance depuis la droite */
    transform: rotate(10deg); /* Rotation dans l'autre sens */
}
.right1 {
    top: 10%;        /* Distance depuis le bas */
    right: 5%;          /* Distance depuis la droite */
    transform: rotate(10deg); /* Rotation dans l'autre sens */
}


.rose-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Pour ne pas bloquer les clics sur les boutons */
    z-index: 999;
}

.rose {
    position: absolute;
    top: -50px;
    font-size: 25px;
    user-select: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}